.file-item,
.folder-item {
  border: 1px solid var(--color-accent-dark);
  border-radius: 4px;
  padding: 0.75rem;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.folder-item__container,
.file-item__container {
  margin-block: 4px;
}
