:root {
  --color-primary-dark: #1f2833;
  --color-primary-light: #c5c6c7;
  --color-accent-dark: #45a29e;
  --color-accent-light: #66fcf1;
  --color-error-red: red;

  --font-size-XXS: 4px;
  --font-size-XS: 8px;
  --font-size-S: 12px;
  --font-size-M: 16px;
  --font-size-L: 24px;
  --font-size-XL: 32px;
  --font-size-XXL: 48px;
}
