.active-folder__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex: 2;
}

.active-folder__items-wrapper {
  display: flex;
  overflow: hidden;
  flex: 3;
}

.active-folder-file-tree__container {
  overflow-y: scroll;
  flex: 1;
}

.actions__container {
  flex: 1;
  margin: 1rem 0;
  padding: 1rem 0;
  border-top: 1px solid var(--color-accent-dark);
}

.file-preview__container {
  flex: 1;
  padding-left: 1rem;
}
