@import url("/src/styles/reset.css");
@import url("/src/styles/variables.css");

body {
  background-color: var(--color-primary-dark);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color-primary-light);
  height: 95vh;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: var(--color-accent-dark);
}

::-webkit-scrollbar-track {
  background: var(--color-primary-dark);
  border-radius: 0.25rem;
}
