@import url("/src/styles/reset.css");
@import url("/src/styles/variables.css");

body {
  background-color: var(--color-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color-accent-500);
}

button {
  background-color: var(--color-accent-300);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  padding: 0.5rem;
}

button:hover {
  background-color: var(--color-accent-200);
  color: var(--color-accent-400);
  cursor: pointer;
}
